$primaryColor: #203e7d;
$secondColor: #0060ae;

.navigation {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  align-items: center;
  max-height: 40px;
  border-bottom: 2px solid $primaryColor;
  background-color: #fff;
  #menuIcon {
    padding-left: 5px;
    @media all and (min-width: 728px) {
      display: none;
    }
  }
  #navContent {
    display: flex;
    @media all and (max-width: 728px) {
      display: none;
    }
    div {
      flex: 1;
    }
    #title {
      padding-left: 10px;
      font-size: 17px;
      font-weight: bold;
    }
    #username {
      display: flex;
      justify-content: flex-end;
      padding-right: 10px;
      p {
        margin: 0;
        font-size: 14px;
        cursor: pointer;
      }
    }
  }
  @media all and (max-width: 728px) {
    background-color: $primaryColor;
  }
}
